*{
    box-sizing: border-box;
}
body{
    background:rgb(227, 216, 216);
    padding-bottom: 30px;
    padding-top: 30px;
}
.calculator{
    max-width: 400px;
    margin: 0 auto;
    border:  2px solid black;
    border-radius: 5px;
}
.calculator input{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #111;
    text-align: right;
    padding:15px;
    font-size: 1.4rem;
}
.calculator-buttons{
    padding: 10px;
    display: grid;
    grid-template:repeat(5,1fr) / repeat(4,1fr);
    grid-gap: 5px 4px;
}
.calc-button{
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    background: rgb(54, 88, 145);
    border-radius: 5px;
    border: 1px solid #111;
}
.calc-button:hover{
    background-color: rgb(117, 100,54);
}
.is-zero{
    grid-column: span 3;
}
.is-clear{
    grid-column: span 3;
    background-color: rgb(153, 120, 29);
}
.is-equals{
    background-color: rgb(164, 129, 43);

}